*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/*body-section*/
body
    {
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
    }

img
    {
        max-width: 100%;
        display: block;

    }

header
    {
        background-color: #EDEFF1;
        padding: 42px;
        width: 100%;
        min-height: 148px;
    }

.container 
    {
        width: 1170px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

.logo 
    {
        width: 164px;
        float: left;
    }

.logo img
    {
        width: 160px;
    }

nav
    {
        width: 1006px;
        float: left;
    }

nav ul
    {
        text-align: right;
        padding: 16px 0;
    }

nav ul li
    {
        display: inline-block;
    }

nav ul li a
    {
        text-transform: uppercase;
        font-size: 16px;
        color: #31353E;
        text-decoration: none;
        padding: 16px 23px 16px 23px;
        border-radius: 41px;
        background-color: #edeff1;
    }

nav ul li a:hover
    {
        background-color: #DD4B2B;
        border-radius: 50px;
        color: #fff;
        padding: 16px 23px 16px 23px;
        transition: all 0.35s ease;
        -webkit-transition: all 0.65s ease;
        -moz-transition: all 0.35s ease;
    }

/*banner-section*/
.banner-section 
    {
        background-image: url(../images/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 140vh;
        position: relative;
    }

.banner-content 
    {
        position: absolute;
        width: 100%;
        top: 30%;
    }

.banner-heading 
    {
        text-align: center;
        color: #fff;
        text-shadow: 0px 1px 1px #fff;
    }

.banner-heading h1
    {
        font-size: 4em;
        font-weight: 200;
        line-height: 2;
        margin: 0;
        margin-bottom: 10px;
    }

.banner-heading span
    {
        font-size: 30px;
        font-weight: 400;
    }

.manu-item 
    {
        width: 33.33%;
        float: left;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        padding: 30px;
    }

.manu-item img
    {
        width: 150px;
        border: 5px solid #fff;
        border-radius: 50%;
        margin: 0 auto;
    }

.manu-item h3
    {
        margin: 30px 0;
        font-size: 20px;
        line-height: 18px;
    }

.manu-item p
    {
        margin: 25px 0px;
        font-size: 14px;
        line-height: 25px;
    }

.read-more 
    {
        text-align: center; 
    }

.read-more a
    {
        text-transform: capitalize;
        font-size: 18px;
        color: #DD4B2B;
        text-decoration: none;
        padding: 20px 62px;
        display: inline-block;
        background-color: #fff;
        border-radius: 30px;
    }

.read-more a:hover
    {
        background-color: #DD4B2B;
        color:#fff;
        transition: all 0.85s ease;
    }


.our-news-section
    {
        background-color: #EDEFF1;
        padding: 100px 0 100px 0;
    }

.heading 
    {
        text-align: center;
    }

.heading h2
    {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 35px;
    }

.news 
    {
        width: 33.33%;
        float: left;
        text-align: center;
        padding: 18px;
    }

.news img
    {
        margin-bottom: 35px;
        border-radius: 5px;
    }

.news h3
    {
        margin-bottom: 26px;
    }

.news p
    {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 25px;
    }

.news a
    {
        text-transform: uppercase;
        font-size: 18px;
        color: #DD4B2B;
        text-decoration: none;
        padding: 20px 62px;
        display: inline-block;
        background-color: #fff;
        border-radius: 30px;
    }

.news a:hover
    {
        color: #fff;
        background-color: #DD4B2B;
        transition: all 0.85s ease;
    }

.newsletter-section
    {
        background-image: url(../images/newsbanner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 60px 0;
        position: relative;
    }

.overlay_one
    {
        background-color: #0000006b;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

.newsletter
    {
        text-align: center;
        margin: 0 auto;
        color: #fff;
    }

.newsletter h2
    {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 600;
    }

.newsletter p
    {
        font-size: 14px;
        padding-bottom: 30px;
    }

.signup
    {
        position: relative;
        width: 100%;
        display: block;
        text-align: center;
    }

form
    {

    }

.signup input 
    {
        border: 1px solid #fff;
        padding: 12px;

    }


.signup input[type="email"]
    {
        width: 520px;
        background-color: transparent;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 18px 0px 18px 36px;
    }


.signup input[type="email"]::-webkit-input-placeholder
    {
        color: #fff;
    }

.signup input[type="submit"]
    {
        padding: 18px 62px;
        border-radius: 34px;
        position: absolute;
        top: 0;
        right: 304px;
    }

.signup input[type="submit"]:hover
    {
        color: #fff;
        background-color: #DD4B2B;
        transition: all 0.85s ease;
    }

.latest-blog-section
    {
        background-color: #EDEFF1;
    }

.blog-one
    {
        display: inline-block;
        padding: 60px 0 15px 0px;
    }

.blog-one-header
    {
        width: 50%;
        margin: 75px 0;
        float: left;
        padding: 0 16px 0 0;
    }

.blog-one-header h3
    {
        font-size: 30px;
        margin-bottom: 25px;
        font-weight: 500;
        
    }

.blog-one-header p
    {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 30px;
    }

.blog-one-image
    {

    }

.blog-one-image img
    {
        width: 50%;
        float: left;
        padding: 18px;
    }

input
    {
        font-size: 18px;
        color: #DD4B2B;
        padding: 14px 60px;
        background-color: #fff;
        border-radius: 30px;
        border: 0px solid;
    }       



input:hover
    {
        color: #fff;
        background-color: #DD4B2B;
        transition: all 0.85s ease;
    }


.blog-two
    {
        display: inline-block;
        padding: 15px 0 60px 0px;
    }

.blog-two-header
    {
        width: 50%;
        padding: 0 0px 0 18px;
        float: right;
        margin: 60px 0;
    }

.blog-two-header h3
    {
        font-size: 30px;
        margin-bottom: 25px;
        font-weight: 500;
        
    }

.blog-two-header p
    {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 30px;    
    }

.blog-two-image
    {

    }

.blog-two-image img
    {
        width: 50%;
        float: left;
        padding: 18px;
    }

.contact-us
    {
        background: #D75E0F;
    }

.part
    {
        float: left;
        width: 33.33%;
        text-align: center;
        padding: 45px 0;
    }

.part a
    {
        color: #ffffffa1;
        text-decoration: none;
        font-size: 14px;
        line-height: 25px;
        display: block;
    }

.part a:hover
    {
        color: #fff;
        text-decoration: underline;
    }

.overlay_two
    {
        background-color: #0000006b;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

.footer
    {
        background-image: url(../images/newsbanner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
    }

.footer p
    {
        font-size: 18px;
        line-height: 25px;
        color: #ffffffa1;
        width: 100%;
        padding: 90px 0;
    }

.footer p span
    {
        font-weight: bolder;
        color: #fff;
    }


/*css styling-ends*/


